<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>HouseIt</title>

    <!-- Bootstrap core CSS -->
    <link href={{url_for('static', filename="vendor/bootstrap/css/bootstrap.min.css")}} rel="stylesheet">
    <link href={{url_for('static', filename='vendor/bootstrap/css/style.css')}} rel="stylesheet">

    <!-- Custom styles for this template -->
    <style>
      body{
          background-image: url({{ url_for('static', filename='images/wellesley-bg.jpg') }});
      }
      .wrapper {
          text-align: center;
      }

      .button {
          position: absolute;
          top: 50%;
      }
            </style>

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">HouseIt</a>
        
      </div>
    </nav>
    <body>

    <!-- Page Content -->
    <div>
      {% block main_content %}
      <h2>Welcome to HouseIt!</h2>
      {% endblock %}

      {% with messages = get_flashed_messages() %}
          {% if messages %}
              <div id="messages">
              {% for msg in messages %}
                  <p>{{msg}}</p>
              {% endfor %}
              </div>
          {% endif %}
      {% endwith %}
                  
      {% if username %}
              <!-- route defined by CAS -->
         <form action="/logout/">
          <div class='wrapper'>
            <button class='button'>Logout {{username}}</button>
          </div>
        </form>
      {% else %}
              <!-- route defined by CAS -->
         <form action="/login/">
          <div class='wrapper'>
            <button class='button'>Login</button>
          </div>
        </form>
      {% endif %}   

      
      
    </div>
    </body>

  </body>

</html>
